{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of Models</h1>
    <div class="form-panel">
        <a href="{{ path('model_new') }}" class="btn btn-primary">Create a new model</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.make.name }}</td>
                <td>{{ model.name }}</td>
                <td>
                    <a href="{{ path('model_edit', { 'id': model.id }) }}" class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i><span class="button-alias">Edit</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
