{% extends 'base.html.twig' %}

{% block body %}
    <h1>Advertisement details</h1>
    <div class="form-panel">
        <a href="{{ path('user_car_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
        <a href="{{ path('car_edit', { 'id': car.id }) }}" class="btn btn-warning">
            <i class="glyphicon glyphicon-pencil"></i>
            <span class="button-alias">Edit</span>
        </a>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{% if car.year %}{{ car.year|date('Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Is Active</th>
                <td>{% if car.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Create date</th>
                <td>{% if car.createdAt %}{{ car.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if car.updatedAt %}{{ car.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <button type="submit" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        <span class="button-alias">Delete</span>
    </button>
    {{ form_end(delete_form) }}
{% endblock %}
