{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}
    <div class="col-md-4">
        <h1 class="page-header">Create advert</h1>
        <div class="form-panel">
            <a href="{{ path('car_index') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </a>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_widget(form.make, { 'attr': {'class': 'js-make'} }) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Create</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".js-datepicker").datepicker({
                format: " yyyy", // Notice the Extra space at the beginning
                viewMode: "years",
                minViewMode: "years",
                endDate: "+0d",
                startDate: '-30y',
                autoclose: true
            });

            populateDropdown();
            $(".js-make").change(function() {
                populateDropdown();
            });

            function populateDropdown() {
                var id = $(".js-make").children(":selected").attr("value");
                $.getJSON('/getmodels/'+id, function(data){
                    $(".js-model").html("");
                    $.each(data, function(i, value){
                        var opt = $('<option/>');
                        opt.val(value.id);
                        opt.text(value.name);
                        $(".js-model").append(opt);
                    });
                });
            }
        });
    </script>
{% endblock %}


