{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Advertisement details</h1>
    <div class="form-panel">
        <a href="{{ path('car_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </a>
    </div>

    <div class="detailed-image"><img src="/uploads/cars/{{ car.image|thumb(240, 200) }}"></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Year</th>
                <td>{% if car.year %}{{ car.year|date('Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>$ {{ car.price|number_format(2) }}</td>
            </tr>
            <tr>
                <th>Is Active</th>
                <td>{% if car.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Create date</th>
                <td>{% if car.createdAt %}{{ car.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Update date</th>
                <td>{% if car.updatedAt %}{{ car.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ car.createdBy.username }}</td>
            </tr>
            <tr>
                <th>Owner email</th>
                <td>{{ car.createdBy.email }}</td>
            </tr>
        </tbody>
    </table>
    <p>{{ car.description }}</p>
{% endblock %}
